@import "./variable";
dl {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  padding: 2rem 0;
  width: 90%;
  border: 1px solid $color4;
  box-shadow: $color4 0px 3px 5px;
  dt {
    margin-left: 5%;
    width: 25%;
    line-height: 5rem;
    font-size: 2rem;
  }
  dd {
    width: 70%;
    line-height: 5rem;
    font-size: 1.5rem;
  }
}
.button_wrap {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
  button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $color1;
  }
  .btn_edit {
    margin-right: 1rem;
    background-color: $color5;
    color: $color2;
    &:hover {
      border: 1px solid $color5;
      background-color: $color1;
      color: $color5;
    }
  }
  .btn_delete {
    color: $color2;
    background-color: $color4;
    &:hover {
      background-color: $color2;
      color: red;
    }
  }
}
