@import './variable';

header {
  text-align: center;
  nav {
    display: flex;
    justify-content: space-between;
    width: $pc_width;
    margin: 2rem auto;
    .nav_start {
      display: flex;
      align-items: center;
      .nav_logo {
        height: 2.5rem;
        margin-right: 0.5rem;
      }
      a {
        border: none;
        background-color: white;
        &:hover {
          border: none;
          background-color: white;
          color: $color2;
        }
      }
    }
    .nav_center {
      // border: 1px solid blue;
    }
    .nav_end {
      // border: 1px solid pink;
    }
    a {
      display: inline-block;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid $color1;
      background-color: $color5;
      color: $color2;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border: 1px solid $color5;
        background-color: $color1;
        color: $color5;
      }
    }
  }
}
