hr {
  border-top: 1px dashed #000;
}

.input-wrap {
  border: 1px solid #ff0000;
  text-align: center;
  h3 {
    margin: 2rem 0;
  }
  form {
    padding: 1rem;
    background-color: #f1f2f3;
    width: 50%;
    margin: 0 auto;
    
  }
}
