@import "./variable";

hr {
  border-top: 1px dashed $color1;
}

.input-wrap {
  text-align: center;
  h3 {
    margin: 2rem 0;
  }
  form {
    padding: 1rem;
    background-color: $color5;
    width: 50%;
    margin: 0 auto;
  }
}
