@import "./_variable";

.wrap_list {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .btn_upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 3rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid $color1;
    background-color: $color5;
    color: $color2;
    &:hover {
      border: 1px solid $color5;
      background-color: $color1;
      color: $color5;
    }
  }
  table {
    margin: 2rem 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      padding: 1rem 0;
      border-bottom: 2px solid $color2;
      font-weight: bolder;
      box-sizing: border-box;
      width: 20%;
    }
    td {
      border-right: 1px solid $color3;
      box-sizing: border-box;
      line-height: 3rem;
      &:last-child {
        border-right: none;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        &:hover {
          background-color: $color1;
          color: $color5;
        }
      }
    }
    .btn_delete {
      background-color: $color4;
      &:hover {
        background-color: $color2;
        color: red;
        cursor: pointer;
      }
    }
    .btn_tr_wrap {
      border-bottom: 1px solid $color3;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
